main {
    overflow-y: scroll;
}


div {
    position: relative;
    background-color: chartreuse;
    /* top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px; */
    /* inset: 5px; */
}


ul {
    height: 300px;
    /* position: absolute; */
    background-color: darkred;
    /* overflow-y: scroll; */
    margin-top: -160px;
}

.html-element {
    background-color: darkkhaki;
    position: sticky;
    margin-bottom: 15px;
    top: -3px;
}

.css-element {
    position: absolute;
    background-color: aquamarine;
     top: 51px;
    /*left: 78px;
    right: 10px;
    bottom: 50px; */
    margin-top: 15px;
}

.js-element {
    position: fixed;
    background-color: orange;
    /* inset: 5px; */
    margin-bottom: 15px;
}