body {
    margin: 0;
}

#hw {
    display: none;
}
.inline-block {
    background-color: cyan;
    display: inline-block;
}
.html {
    display: block;
    width: 100px;
    height: 200px;
    background-color: bisque;
    padding: 25px;
    border: 50px solid;
    margin: 20px;
    outline: 10px solid hotpink;
}

/* span {
    display: inline-block;
    width: 100px;
    height: 200px;
    background-color: bisque;
    padding: 25px;
    border: 50px solid;
    margin: 20px;
    outline: 10px solid hotpink;
} */

/* p {
    height: 200px;
    width: 300px;
    background-color: aqua;
    padding: 50px;
    box-sizing: border-box;
    margin: 50px;
    border: 10px solid greenyellow;
} */


/*
 div {
    width: 50%;
    background-color: cornflowerblue;
    padding: 25px;
    
 } */

/* a {
    background-color: gainsboro;
    padding: 50px;
}  */

video {
    height: 150px;
}
img {
    height: 350px;
    background-color: deeppink;
    border: 30px solid gray;
    padding: 30px;
}
iframe {
    height: 200px;
    margin: 30px;
}