.box { 
    background-color: hsla(180, 100%, 50%, 0.5);
    transform-origin:1% 1%;
    transform: scale(2);
    height: 300px;
    width: 400px;
}
#hello {
    margin-bottom: 50px;
    height: 200px;
    width: 300px;
    background-color: green;
    transform-origin:1% 1%;
    transform: scale(2);
}