body {
  margin: 0;
}

.one {
  outline: 50px solid greenyellow;
  border-radius: 50%;
  box-sizing: border-box;
  padding: 50px;
  max-width: 300px;
  min-height: 300px;
  margin: 50px;
  border: 10px solid hotpink;
  background-color: chartreuse;
}